body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #ed7d83;
	  color: #093f3d;
}

header {
	  background-color: #005f99;
	  color: white;
	  text-align: center;
	  padding: 20px;
}

section {
    background-color: #ffffff;
    font-color: #1d2657;
    font-size: 1.2em;
    padding: 20px;
}
